body {
    text-align: center;
    background-color: rgb(139, 139, 139);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.alimg {
    height: 300px;
    width: auto;
    margin-top:50px;
}

.img1 {
    height: 30px;
    width: 30px;
}

.ur-mom {
    background-color: rgba(189, 175, 175, 0.744);
    width: 100%;
}